@media (max-width: 96.2em) {
  html {
    font-size: 55%;
  }
  .text {
    font-size: 2.3rem;
  }
  .navbar-item {
    font-size: 1.8rem;
  }
}
@media (max-width: 76.25em) {
  html {
    font-size: 45%;
  }
  .grid-container {
    margin-top: 27rem;
  }
  .navbar-item {
    font-size: 2rem;
  }
}
@media (max-width: 69.56rem) {
  html {
    font-size: 40%;
  }
  .grid-container {
    margin-top: 35rem;
  }
  .navbar-item {
    font-size: 2.4rem;
  }
}
@media (max-width: 60rem) {
  html {
    font-size: 35%;
  }
  .text {
    font-size: 2.6rem;
  }
  .navbar-item {
    font-size: 2.8rem;
  }
}

@media (max-width: 50rem) {
  .question {
    font-size: 8rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 40rem) {
  .question {
    display: none;
  }
  .heading-primary {
    display: flex;
  }
  .container {
    margin-top: 5rem;
  }
  .grid {
    gap: 7rem;
  }
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .grid-container {
    margin-top: 0;
  }
  .musaib-photo {
    width: 30%;
  }
  .heading-question {
    font-size: 10rem;
    margin-bottom: 10rem;
  }
  .content-container {
    justify-content: center;
  }
  .myimage {
    grid-row: 1;
  }
}
@media (max-width: 26em) {
  .heading-question {
    font-size: 9rem;
    margin-bottom: 10rem;
    font-weight: 200;
  }
  .content {
    font-size: 2.2rem;
  }
  .musaib-photo {
    width: 35%;
  }
  .navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
  .mobile-navbar-icons {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .icon-round {
    border-radius: 50%;
    /* background-color: #d0ebff; */
    background-color: #fff;
  }
  .icon {
    width: 4rem;
  }
}
@media (max-width: 20em) {
  .heading-question {
    font-size: 7.2rem;
    margin-bottom: 5rem;
  }
  .content {
    font-size: 1.5rem;
  }
}
