* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: black;
}
.container {
  /* height: 100%; */
  margin: 0 auto;
  margin-top: 15rem;
  /* margin-bottom: 12rem; */
}
.grid-container {
  padding: 0 2rem;
}
.grid {
  display: grid;
  /* gap: 8rem; */
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* HERO SECTION */
.heading-primary {
  display: none;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;

  /* margin: 0 0 2rem 0; */
  /*TEMP*/
  /* display: none; */
}
.heading-question {
  font-size: 15rem;
  /* font-family: "Montserrat"; */
  font-weight: 400;
  letter-spacing: 0.58rem;
  color: WHITE;
}
.name {
  color: orange;
}
.content-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.content {
  font-weight: 500;
  line-height: 1.6;
  width: 80%;
  color: #ccc;
  font-family: "Montserrat";
  font-weight: 400;
  /*TEMP*/
  /* flex-direction: column; */
}

.myimage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.musaib-photo {
  width: 45%;
  border-radius: 10%;
  box-shadow: 0 3.2rem 6.4rem rgb(0 0 0 / 6%);
  border: 1px solid #fff;
}
/*TEMP*/
/* .question {
  font-size: 6rem;
  font-weight: 100;
} */

/* NAVIGATION */
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.2rem 0 1.2rem 0;
  border-top: 3px solid orange;
}
.mobile-navbar {
  display: none;
  /* overflow: hidden; */
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.2rem 0 1.2rem 0;
  border-top: 1.5px solid black;
  border-top: 3px solid orange;
}
.navbar-items {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.navbar-item {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat";
}

.question {
  font-family: "Noto Sans", sans-serif;
  font-size: 10rem;
  padding-left: 1.5rem;
}

.text {
  font-size: 2rem;
  padding: 0 1.5rem;
  line-height: 1.8;
  font-weight: 500;
}

.icon {
  filter: invert(100%);
}
